@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Light Theme Variables */
:root {
  --background-color: #e0e5ec;
  --text-color: #333;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --lotto-card-bg: #f0f0f0;
  --lotto-card-shadow: rgba(0, 0, 0, 0.1);
  --button-bg: #007bff;
  --button-text: #fff;
}

/* Dark Theme Variables */
html[data-theme='dark'] {
  --background-color: #212121;
  --text-color: #f5f5f5;
  --primary-color: #90caf9;
  --secondary-color: #a7a7a7;
  --lotto-card-bg: #333;
  --lotto-card-shadow: rgba(255, 255, 255, 0.1);
  --button-bg: #90caf9;
  --button-text: #212121;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column; /* Changed to column to accommodate the button */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Style for the theme toggle button */
#theme-toggle {
  margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-text);
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#theme-toggle:hover {
  opacity: 0.9;
}